
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>信息提示</title>
</head>
<body>
<div style="width:100%; text-align: center;">
    <h1>@ViewBag.Msg</h1>
</div>
</body>
</html>
